.titulo {
  font-size: 40px;
  color: #484a70;
  font-family: 'Pacifico';
  margin-bottom: 30px;
}

.fonte-def {
  font-size: 15px;
  margin-top: 30px;
}

.sub-titulo {
  font-size: 20px;
  font-family: Titillium Web;
  margin-bottom: 30px;
}

.fundo {
  margin: 40px 90px 40px 90px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.img-tam {
  width: 300px;
  margin-bottom: 30px;
}

.thumb {
  margin: auto;
  margin-bottom: 30px;
}
